/*selector universal*/ 




*{/* selector universal*/
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{

    background-color: rgb(25, 138, 160);
}
image {
    padding-right: 10 px;
    text-align: justify;
    margin: 40 px;
    line-height: 20px;
    }

    h1{background-color: blueviolet;
    text-align: center;
    vertical-align: top;
}

a {
    color: rgb(16, 49, 16);
    text-decoration: none;
}
h1{
    text-transform: uppercase;
    text-decoration: overline;
}
footer a{
color: red;
}
/*para iD solo uno*/
#textos {
    border: 5px solid black;
    padding: 5px;
    text-decoration: double;
}
/*para clases varios*/
.textos, .tablas{
    font-style: italic;
    text-decoration: double;
    font-weight: bolder;
    padding: 20px;

}

#solicitud form{
    border: 1px solid rgb(190, 204, 190);
    margin-top: 15px;
    margin-bottom: 15 px;
    padding: 20px;
}
#solicitud form *{
    display: grid;
    color: black;
}
#solicitud form label {
    color: azure;
}
input[type="text"]{
    margin-bottom: 5px;
    padding: 18px;
    width: 200 px;
    color: black;
}

input[type="submit"]{

background-color: rgb(101, 101, 150);
color: rgb(255, 255, 255) !important;
padding: 100 px !important;
border: 20 px solid !important;
cursor:  pointer;
font-size: 20 px;
margin-top: 10 px;
}
#botonenviar * {
    padding: 10px !important;
    margin-top: 100px !important;
}
#caja {
    background-color: rgba(0, 0, 0, 0.063);

background-image: url(/imagen/relix.jpg);
background-attachment: fixed;


}