@font-face {
    font-family: qahiri;
    src: url(fonts/Qahiri-Regular.ttf);
}
body{
    background-color: rgb(10, 194, 191);
    
}

h1{
    color: rgb(234, 243, 250);
    font-family:qahiri; 

    font-size:6em;

}
h2{
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;

}